src/main/app/wcfconsumer.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:mulexml="http://www.mulesoft.org/schema/mule/xml" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:file="http://www.mulesoft.org/schema/mule/file" xmlns:cxf="http://www.mulesoft.org/schema/mule/cxf" xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:core="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="EE-3.3.0" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/xml http://www.mulesoft.org/schema/mule/xml/current/mule-xml.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd 
http://www.mulesoft.org/schema/mule/cxf http://www.mulesoft.org/schema/mule/cxf/current/mule-cxf.xsd 
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd 
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd 
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd 
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd ">
    <flow name="wcfconsumerFlow1" doc:name="wcfconsumerFlow1">
        <http:inbound-endpoint exchange-pattern="request-response" host="localhost" port="8081" path="submitOrder" doc:name="HTTP"/>
        <response>
            <object-to-string-transformer doc:name="Object to String"/>
        </response>
        <http:body-to-parameter-map-transformer doc:name="Body to Parameter Map"/>
        <choice doc:name="Choice">
            <when expression="#[Integer.parseInt(payload['qty']) &lt; 100]">
                <processor-chain>
                    <scripting:component doc:name="Groovy">
                        <scripting:script engine="Groovy">
                            <scripting:text><![CDATA[import com.mulesoft.wcfconsumer.*;

ObjectFactory of = new ObjectFactory();

Order o = new Order();
o.setProductId(of.createString(payload['productCode']));
o.setQuantity(of.createString(payload['qty']));

return o;]]></scripting:text>
                        </scripting:script>
                    </scripting:component>
                    <cxf:jaxws-client operation="CreateOrder" serviceClass="com.mulesoft.wcfconsumer.IWCFRetailService" enableMuleSoapHeaders="true" doc:name="SOAP"/>
                    <http:outbound-endpoint exchange-pattern="request-response" host="localhost" port="49676" path="WCFRetailService.svc" doc:name="HTTP"/>
                </processor-chain>
            </when>
            <otherwise>
                <processor-chain>
                    <mulexml:object-to-xml-transformer doc:name="Object to XML"/>
                    <file:outbound-endpoint path="src/test/resources" responseTimeout="10000" doc:name="File"/>
                </processor-chain>
            </otherwise>
        </choice>
    </flow>
</mule>
